apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: app-alerts
  namespace: observability
  labels:
    alertmanagerConfig: app-alerts
spec:
  route:
    receiver: webhook
    groupBy: ['alertname', 'service', 'severity']
    groupWait: 10s
    groupInterval: 5m
    repeatInterval: 1h
    routes:
      - matchers:
          - name: severity
            value: page
        receiver: pagerduty-critical
        continue: true
        groupWait: 10s
        groupInterval: 5m
        repeatInterval: 5m
      - matchers:
          - name: severity
            value: ticket
        receiver: slack-tickets
        continue: true
        repeatInterval: 12h
      - matchers:
          - name: severity
            value: warning
        receiver: slack-warnings
        continue: true
        repeatInterval: 24h
  receivers:
    - name: webhook
      webhookConfigs:
        - url: http://alert-debugger.observability.svc.cluster.local:8080/
          sendResolved: true
    - name: pagerduty-critical
      webhookConfigs:
        - url: http://alert-debugger.observability.svc.cluster.local:8080/
          sendResolved: true
    - name: slack-tickets
      webhookConfigs:
        - url: http://alert-debugger.observability.svc.cluster.local:8080/
          sendResolved: true
    - name: slack-warnings
      webhookConfigs:
        - url: http://alert-debugger.observability.svc.cluster.local:8080/
          sendResolved: true
