grafana:
  enabled: true
  defaultDashboardsEnabled: false
  service:
    type: ClusterIP
  adminUser: admin
  adminPassword: admin
  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki.observability.svc.cluster.local:3100
      access: proxy
      isDefault: false
    - name: Tempo
      type: tempo
      url: http://tempo.observability.svc.cluster.local:3200
      access: proxy
      isDefault: false
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana/"
      serve_from_sub_path: true
prometheus:
  prometheusSpec:
    evaluationInterval: 15s
    ruleNamespaceSelector: {}
    ruleSelectorNilUsesHelmValues: false
    # pega ServiceMonitors que tenham label release=kps
    serviceMonitorSelector:
      matchLabels:
        release: kps
alertmanager:
  alertmanagerSpec:
    externalUrl: http://dev.local/alertmanager/
    routePrefix: /
  config:
    route:
      receiver: webhook
      group_by: ['alertname', 'service', 'severity']
      group_wait: 10s
      group_interval: 5m
      repeat_interval: 1h
      routes:
        - match:
            severity: page
          receiver: pagerduty-critical
          continue: true
          group_wait: 10s
          group_interval: 5m
          repeat_interval: 5m
        - match:
            severity: ticket
          receiver: slack-tickets
          continue: true
          repeat_interval: 12h
        - match:
            severity: warning
          receiver: slack-warnings
          continue: true
          repeat_interval: 24h
    receivers:
      - name: webhook
        webhook_configs:
          - url: http://alert-debugger.observability.svc.cluster.local:8080/
            send_resolved: true
      - name: pagerduty-critical
        webhook_configs:
          - url: http://alert-debugger.observability.svc.cluster.local:8080/
            send_resolved: true
      - name: slack-tickets
        webhook_configs:
          - url: http://alert-debugger.observability.svc.cluster.local:8080/
            send_resolved: true
      - name: slack-warnings
        webhook_configs:
          - url: http://alert-debugger.observability.svc.cluster.local:8080/
            send_resolved: true